<div class="container text-center">
  <h1>About Page</h1>
  <p>We are ToxSyn. Our company focuses on creating an exclusive community for platinum+ elo LoL players to find like-minded individuals to partner up with.</p>
</div>